.form {
  width: 90%;
}
.custom fieldset {
  border-radius: 50px;
}
.fontcenter{
  text-align: center;
}

.inputs{
  width: 100%;
}

.inputs .custom {
  margin-top: 5%;
}

.buttons{
  width: 100%;
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: flex-end;
  align-items: center;
}

.buttons .fontcenter{
  margin-top: 5%;
}

.fontLeft{
  text-align: left;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin-top: 2%;
}

.textPrimary{
  color: #ffc0cb;
  font-weight: 500;
}

.textSecondary{
  color: #FD8087;
  font-weight: 700;
}

.grey{
  color: #8e8d8d;
}

.vector{
  width: 100%;
  margin-top: -5%;
  z-index: 1;
}

.witch{
  margin-bottom: 50%;
  z-index: 10;
  margin-top: -45%;
  margin-left: 8%;
  font-weight: 200;
  font-size: 29px;
}