.image {
  height: 45px;
  border: 3px solid #ff8da1;
  box-sizing: content-box;
}

.input {
  width: 60%;
  margin-top: 13px !important;
}

.title {
  color: #ff8da1;
  font-size: 20px;
}

.hide {
  filter: blur(5px);
  position: relative;
  color: gray;
}

.view {
  color: #ff8da1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
}

.warning {
  color: #ff8da1;
  font-weight: bold;
}
