.page {
  height: calc(100vh - 5rem - 106px);
}

.title {
  color: #fd8087;
  font-weight: bold;
  font-size: 36px;
}

.primary {
  color: #fd8087;
}

.container {
  @apply mt-12;
  background: #ffc0cb;
  border-radius: 0px 50px 50px 0px;
  width: 300px;
  display: flex;
  justify-content: center;
  padding: 20px;
  color: white;
  padding-right: 25px;
}
